@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Kanit:wght@200&family=Permanent+Marker&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Kanit:wght@200&family=Permanent+Marker&family=Righteous&family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    
}
/* start header */
.header{
    background-color: rgb(21, 16, 9);
    color: brown;
    height: 50px;
    line-height: 50px;
    font-size:30px ;
    width:105%;
}
.header a{
    text-decoration: none;
    float:right;
    color: aliceblue;
}
.header p{
    float:right;
    color: aliceblue;
    margin-right: 5px;
   
}
.header p i{
    padding-right:15px ;
}
.header a i{
    padding-right: 15px;
}
/* end header */
/* start navbar */
.search{
    padding-right:15px ;
    line-height:50px;
    font-size:30px ;
}
.navbar{
    height:90px ;
    line-height:90px;
    width:105%;
}
.navbar .navbar-brand{    
    line-height:90px;
}
.ll{
    font-size: 30px;
    
}
/* end navbar */

/* start slider */
.sliderr{
width:105% ;
}
.carousel-inner{
    height:400px;
    width:100%;
}
.overlay{
    height:100%;
    width:100%;
    background-color: #7747e921;
    position:absolute;
    z-index:1;
}
.title h5{
    font-size:40px;
    font-family: 'Courgette', cursive;
    padding-top:5px;
    
}
/* end slider */

/* start feutures */
.feutures{
    margin-top:60px ;
    width: 105%;
}
.feutures h2{
padding-bottom:40px ;
font-size:40px;
font-weight:bolder;
color:rosybrown;
}

.feutures i{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 228, 196, 0.835);
    line-height: 100px;
    color: black;
    font-size: 45px; 
    border-radius:30px;
}
.feutures h3{
    color: rgb(184, 152, 99);
    margin-bottom:20px ;
    font-weight:bolder;
    font-size: 40px; 
     
 }
 .feutures p{
    color: rgb(51, 41, 62);
    font-size:25px;  
}
/* end feutures */
/* start our team */
.our-team{
    width:105% ;
    padding:20px;
}
.card-body h5{
    font-size:35px ;
    font-weight: 900;
    color: rgb(21, 16, 9);
}
.card-body p{
font-size: 25px;
}
.card-body a i{
    padding-right:10px ;
    font-size: 20px;
}

.our-team h2{
    font-size:40px ;
    color: rgb(79, 39, 6);
    font-weight: 800;
    
}
/* end our team */
/* start statistic */
.statistic{
    background-image:url('https://images.everydayhealth.com/images/diet-nutrition/all-about-lavender-722x406.jpg?w=1110') ;
    width:105%;
    height:500px ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:100px ;
    background-attachment: fixed;
}
.statistic .overlay{
    background-color: rgba(95, 38, 148, 0.324);
    height: 500px;
    width:105%;
}
.statistic .overlay .border{
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 15px;
    height: 500PX;
    background-color: rgba(250, 235, 215, 0.158);
}

.statistic .overlay h3{
    color: white;
    font-weight: 600;
    font-size:40px ;

}
.statistic .overlay p{
    color: white;
    font-size:100px ;
    line-height:200px ;


}
/* end statistic */
/* start our-custumors */
.our-custumors{
background-color:white;
line-height:200px;
width: 105%;
}
/* end our-custumors */
/* recent-news */
.recent-news{
    width: 105%;
}
.recent-news .btn-danger{
    background-color: rgb(161, 81, 211);
    border-left-color:white ;
    border-radius: 10px;

}
.recent-news .btn-danger:hover{
    background-color:rgb(79, 0, 148) ;
    border:black;
    box-shadow:5px 5px 2px rgb(162, 162, 191) ;

}
.recent-news .btn-danger a{
    text-decoration: none;
    color:white;
}
/* end recent-news */
/* start footer */
footer{
    margin-top: 30px;
    background-color:rgba(184, 152, 99, 0.694);
    text-align: center;
    width: 105%;
}
footer h2{
    margin-top:7px;
}
footer ul li{
   list-style:none ; 
}
footer .follow_us a{
    color:rgb(9, 9, 9);
    text-decoration: none;
    padding-right:7px ;
    padding-bottom:7px ;  
}
footer .follow_us a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(232, 202, 166, 0.363);
    border-bottom:3px solid rgb(255, 255, 255) ;
    border-right:3px solid rgb(255, 255, 255) ;
    border-radius:6px 5px ;
    text-shadow:2px 5px 3px rgb(251, 222, 157) ;
}
footer .follow_us  i{
   margin-left:15px ;
}
footer .important_link a{
    color:rgb(10, 10, 10);
    text-decoration: none;
    padding-right:7px ;
    padding-bottom:7px ;  
}
footer .important_link a:hover{
    color: rgb(247, 242, 242);
    background-color: rgba(232, 202, 166, 0.363);
    border-bottom:3px solid rgb(255, 255, 255) ;
    border-right:3px solid rgb(255, 255, 255) ;
    border-radius:6px 5px ;
    text-shadow:2px 5px 3px rgb(251, 222, 157) ;
}
.footer1{
    width: 105%;
}
/* end footer */

/* blog page style */
.breadcrumb{
    width:105% ;
   
}
.breadcrumb a{
    text-decoration:none ;
}
/* start jumbotron */
.Jumbotron{
    padding:20px ;
    display: flex;
    justify-content: space-between;
}
.Jumbotron .blog_info{
    flex:2 ;
}
.Jumbotron .blog_img{
    flex:1 ;
}
.blogs .Jumbotron .blog_info a{
  text-decoration:none;
  color:white;
}

/* end jumbotron */

/* start page blog details */
/* start blog_details */
.blog_details p{
    padding:10px;
    
}
.blog_details .card{
    margin: 15px;

}
.breadcrumb a{
    color: rgb(94, 103, 109);
}
/* end blog_details  */
/* end page blog details */
/* start page courses */
.courses{
    transition:3s all 3s ease ;
}
.courses .card img{
    height:600px;
    width:600px ;
}
.courses img:hover{
    transform: scale(1.1);
  
}
.cour_details h5{
    color:rgb(219, 88, 48) ;font-weight:600;padding:5px ;  
}
.related_course h6{
    color: rgb(106, 101, 101);
    font-weight: 600;
    padding:10px ;
}
.related_course a{padding-bottom:7px ;}
.related_course img{width:259px ;}
/* end page courses */